* {
	padding: 0px;
	margin: 0px;
	color: #777;
	font-family: Helvetica;
	z-index: 1;
}

.clickable > a{
	text-decoration: none;
}
.clickable:hover {
	cursor: pointer;
}

header {
	position: relative;
	background: #DCDCDC;
	color: #777;
	height: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 12%;
	padding-right: 8%;
	padding-top: 30px;
	padding-bottom: 30px;
	z-index: 10;
}
#CompanyContainer {
	height: 80px;
	width: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/*padding-top: 10px;
	padding-bottom: 10px;*/
}
.logo {
	/*background: #777;*/
	margin-right: 5px;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
}
#CompanyLogo {
	height: max(7vw, 77px);
	width: max(7vw, 77px);
	background-image: url('../Images/data-modelling.png');
	opacity: 70%;
}
#CompanyTextContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: left;
}
#CompanyTextContainer > h2 {
	font-size: max(1.7vw, 13pt);
}
#CompanyTextContainer > p {
	font-size: max(0.7vw, 9pt);
	white-space: nowrap;
}
@media screen and (max-width: 460px) {
	#CompanyTextContainer > p {
		white-space: normal;
	}
	#CompanyTextContainer {
		height: fit-content;
	}
}
#PhoneContainer>p{
	text-wrap: nowrap;
	font-size: max(1.7vw, 13pt);
	font-family: Roboto;
}

nav {
	position:relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 50px;
	z-index: 10;
}
nav > p {
	margin-left: 0.8vw;
	margin-right: 0.8vw;
	/*font-size: max(1.2vw, 11pt);*/
	font-size: 15pt;
}
@media screen and (max-width: 555px) {
  nav > p {
	  font-size: 10pt;
  }
}
nav > p:hover {
	text-decoration: underline;
	text-underline-offset: 2px;
}

.darkBox {
	background-color: #777;
}

.darkBox, .darkBox * {
	color: #fff;
}

main {
	background: #F8F8F8;
	padding-top: 300px;
	z-index: -1;
}
.circle {
	border-radius: 50%;
	opacity: 15%;
	position: absolute;
	z-index: 0;
}
#circle1, #circle4 {
	background: blue;	
}
#circle1 {
	width: max(15.2vw, 200px);
	height: max(15.2vw, 200px);
	left: 16%;
	/*left: 300px;*/
	/*bottom: 325px;*/
	bottom: 32vh;
}
#circle2, #circle6 {
	background: green;
	width: max(8vw, 150px);
	height: max(8vw, 150px);
}
#circle2 {
	left: 27.7%;
	/*left: 530px;*/
	/*bottom: 54%;*/
	/*bottom: 500px;*/
	bottom: 52vh;
}
#circle3, #circle5 {
	width: max(13.8vw, 175px);
	height: max(13.8vw, 175px);
	background: DarkOrange;
}
#circle3{
	left: 34.8%;
	/*left: 655px;*/
	/*bottom: 390px;*/
	bottom: 41vh;
}
#circle4{
	height: max(11.6vw, 157px);
	width: max(11.6vw, 157px);
	left: 55%;
	/*bottom: 410px;*/
	bottom: 43.5vh;
}
@media screen and (max-width: 640px) {
	.circle {
		transform: translate(-55px);
	}
	#circle4 {
		display: none;
	}
}
#circle5{
	left: 65%;
	/*bottom: 475px;*/
	bottom: 50vh;
}
#circle6 {
	left: 70.7%;
	/*bottom: 355px;*/
	bottom: 37vh;
}
.pageName {
	position: absolute;
	left: 0; 
	right: 0; 
	margin-inline: auto; 
	width: fit-content;
	top: 400px;
	font-size: 33pt;
}

.content {
	width: 100%;
	padding-bottom: 150px;
	padding-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.contentContainer {
	padding: 20px;
	padding-left: 30px;
	margin-left: 1vw;
	margin-right: 1vw;
	height: auto;
}
#newsContainer {
	max-height: 500px;
}
.contentTextContainer {
	margin-bottom: 10%;
}
.contentTextContainer > * {
	text-align: justify;
}
#newsArchive {
	text-decoration: underline;
	text-underline-offset: 2px;
	text-align: right;
}
#aboutUsContainer {
	width: 30%;
}

#forma{
	width: 70%;
	margin-left: 15%;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
#forma * {
	color: #777
}
fieldset{
	background: #F8F8F8;
	flex: 1 1 45%;
	min-width: 30%;
    max-width: 50%;
	padding: 10px;
}

#registry, #registryOutput {
	width: 36%;
	display: grid;
	grid-template-rows: repeat(8, auto);
	padding-top: 40px;
	padding-bottom: 40px;
	column-gap: 20px;
	border: dotted 2px #777;
	border-radius: 15px;
}
.registryInputContainer, .registryOutputContainer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 5vh;
}
.registryInputContainer > label, .registryOutputContainer > p {
	margin-left: 10px;
	margin-right: 10px;
}
.registryInputContainer > *:not(label):not(textarea) {
	height: 25px;
}
.registryInputContainer textarea  {
	height: auto;
}
#registryInputContainer1, #registryOutputContainer1 {
	grid-row: 1;
}
#registryInputContainer2, #registryOutputContainer2 {
	grid-row: 2;
}
#registryInputContainer3, #registryOutputContainer3 {
	grid-row: 3;
}
#registryInputContainer4, #registryOutputContainer4 {
	grid-row: 4;
}
#registryInputContainer5, #registryOutputContainer5 {
	grid-row: 5;
}
#registryInputContainer6, #registryOutputContainer6 {
	grid-row: 6;
}
#registryInputContainer7, #registryOutputContainer7 {
	grid-row: 7;
}
#registryInputContainer7, #registryOutputContainer7 {
	overflow: hidden;
	height: 0px;
	display: none;
}
#registryInputContainer8, #registryOutputContainer8 {
	grid-row: 8;
}
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 23px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #9fd0f9;
}
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.slider.round {
  border-radius: 22px;
}
.slider.round:before {
  border-radius: 50%;
}

#imagesContainer {
	width: 70%;
	height: 430px;
	overflow: hidden;
}
#gridImagesContainer {
	width: fit-content;
	height: 100%;
	display: grid;
	position: relative;
	grid-template-columns: repeat(6, 500px);
	column-gap: 20px;
	left: -520px;
}
.galleryImageContainer {
	overflow: visible;
	position: absolute;
	align-self: center;
}
#image1Container {
	grid-column: 1;
	grid-row: 1;
}
#image2Container {
	grid-column: 2;
	grid-row: 1;
}
#image3Container {
	grid-column: 3;
	grid-row: 1;
}
#image4Container {
	grid-column: 4;
	grid-row: 1;
}
#image5Container {
	grid-column: 5;
	grid-row: 1;
}
#image6Container {
	grid-column: 6;
	grid-row: 1;
}
.galleryImageContainer, .galleryImage {
	height: 350px;
	width: 500px;
	border-radius: 10px;
}
.galleryImage {
	box-shadow: 2px 2px 8px #8a8a8a;
}
.moving {
  animation: carousell 0.7s;
  animation-fill-mode: forwards;
}

@keyframes carousell {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-520px);
  }
}
#imagesContainer > button{
	position: relative;
	float: right;
	width: 70px;
	height: 70px;
	right: 5px;
	top: -50%;
	border-radius: 50%;
	border: none;
	background: #DCDCDC;
	opacity: 50%;
	transition: opacity 0.5s;
}
#imagesContainer > button:hover{
	opacity: 66%;
}
#imagesContainer > button::after{
	content: "";
	opacity: 100%;
	width: 70px;
	height: 70px;
	border-radius: inherit;
	display: inline-block;
    cursor: pointer;
	background-size:70%;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('../Images/right-chevron.png');
}

#attrsList {
	list-style-type: none;
}
#attrsList > li > div {
	height: 7vh;
	margin-bottom: 1hv;
	display: flex;
	flex-direction: row;
	align-items: center;
}
#attrsList > li:nth-of-type(1)>div::after {
	content: "";
	width: 70px;
	height: 70px;
	min-width: 50px;
	min-height: 50px;
	background-size:70%;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('../Images/right-chevron.png');
}
#attrsList > li:nth-of-type(2)>div::after {
	content: "";
	width: 70px;
	height: 70px;
	min-width: 50px;
	min-height: 50px;
	background-size:70%;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('../Images/data-modelling.png');
}
#attrsList > li:nth-of-type(3)>div::after {
	content: "";
	width: 70px;
	height: 70px;
	min-width: 50px;
	min-height: 50px;
	background-size:70%;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('../Images/web.png');
}

footer{
	height: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
footer ul {
	list-style-type: none;
}
footer li {
	text-decoration: underline;
	text-underline-effect: 2px;
}
footer > div:nth-of-type(3) {
	height: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
footer > div:nth-of-type(3) p {
	text-wrap: nowrap;
}
@media screen and (max-width: 610px) {
  footer > div:nth-of-type(3) p {
	text-wrap: balance;
	}
}
#bottomLogo {
	height: 60px;
	width: 80px;
	background-image: url('../Images/web.png');
	opacity: 60%;
}